* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

body{
    background-image: url("images/LightBg.jpg");
    height: 92vh;
    background-size: cover;
}

#logo {
    height: 70px ;
    margin-left: 30px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px, 80px;
    background-color: rgb(46, 33, 2);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 30px;
    font-size: 20px;
}

#navbar a{
    text-decoration: none;
    color: white;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(46, 33, 2);
    background-color: rgb(231, 223, 213);
    padding: 8px;
    border-radius: 8px;
    font-weight:bold;
}

#logo1
{
    width: 15%;
    margin-left: 45%;
    margin-top: 1%;
}
.text
{
    font-size: 95%;
    font-family: Arial;
    margin-left: 38%;
}
#croissant 
{
    width: 14%;
    height: 30%;
    border-radius: 10%;
    margin-left: 20%;
    margin-top: 2%;
    box-shadow: 0 0 10px black;
}
#baguette 
{
    width: 14%;
    height: 30%;
    border-radius: 10%;
    margin-left: 10%;
    margin-top: 2%;
    box-shadow: 0 0 10px black;
}
#PanauChocolat
{
    width: 14%;
    height: 30%;
    border-radius: 10%;
    margin-left: 10%;
    margin-top: 2%;
    box-shadow: 0 0 10px black;
}
.text1
{
    font-size: 105%;
    font-family: Arial;
    color: rgb(94, 94, 95);
    margin-left: 20%;
    margin-top: 1%;
}
.text1_price
{
    font-size: 130%;
    font-family: Arial;
    color: rgb(88, 66, 39);
    margin-left: 20%;
}
#text1_button
{
    position: absolute;
    background-color: rgb(139, 85, 35);
    color: white;
    height: 3%;
    width: 7%;
    border-radius: 20px;
    font-size: 60%;
    margin-left: 27%;
    margin-top: -1.5%;
}
#text1_button:hover
{
    background-color: rgb(247, 206, 168);
    color: black;
    box-shadow: 0 0 10px black;
}

.text2
{
    font-size: 105%;
    font-family: Arial;
    color: rgb(94, 94, 95);
    margin-left: 45%;
    margin-top: -3%;
}
.text2_price
{
    font-size: 130%;
    font-family: Arial;
    color: rgb(88, 66, 39);
    margin-left: 45%;
}
#text2_button
{
    position: absolute;
    background-color: rgb(139, 85, 35);
    color: white;
    height: 3%;
    width: 7%;
    border-radius: 20px;
    font-size: 60%;
    margin-left: 52%;
    margin-top: -1.5%;
}
#text2_button:hover
{
    background-color: rgb(247, 206, 168);
    color: black;
    box-shadow: 0 0 10px black;
}


.text3
{
    font-size: 105%;
    font-family: Arial;
    color: rgb(94, 94, 95);
    margin-left: 69%;
    margin-top: -3%;
}
.text3_price
{
    font-size: 130%;
    font-family: Arial;
    color: rgb(88, 66, 39);
    margin-left: 69%;
}
#text3_button
{
    position: absolute;
    background-color: rgb(139, 85, 35);
    color: white;
    height: 3%;
    width: 7%;
    border-radius: 20px;
    font-size: 60%;
    margin-left: 76%;
    margin-top: -1.5%;
}
#text3_button:hover
{
    background-color: rgb(247, 206, 168);
    color: black;
    box-shadow: 0 0 10px black;
}
#Macaroons
{
    width: 14%;
    height: 30%;
    border-radius: 10%;
    margin-left: 20%;
    margin-top: 5%;
    box-shadow: 0 0 10px black;
}
#Eclair
{
    width: 14%;
    height: 30%;
    border-radius: 10%;
    margin-left: 10%;
    margin-top: 5%;
    box-shadow: 0 0 10px black;
}
#Paris
{
    width: 14%;
    height: 30%;
    border-radius: 10%;
    margin-left: 10%;
    margin-top: 5%;
    box-shadow: 0 0 10px black;
}

.text4
{
    font-size: 105%;
    font-family: Arial;
    color: rgb(94, 94, 95);
    margin-left: 20%;
    margin-top: 1%;
}
.text4_price
{
    font-size: 130%;
    font-family: Arial;
    color: rgb(88, 66, 39);
    margin-left: 20%;
}
#text4_button
{
    position: absolute;
    background-color: rgb(139, 85, 35);
    color: white;
    height: 3%;
    width: 7%;
    border-radius: 20px;
    font-size: 60%;
    margin-left: 27%;
    margin-top: -1.5%;
}
#text4_button:hover
{
    background-color: rgb(247, 206, 168);
    color: black;
    box-shadow: 0 0 10px black;
}

.text5
{
    font-size: 105%;
    font-family: Arial;
    color: rgb(94, 94, 95);
    margin-left: 45%;
    margin-top: -3%;
}
.text5_price
{
    font-size: 130%;
    font-family: Arial;
    color: rgb(88, 66, 39);
    margin-left: 45%;
}
#text5_button
{
    position: absolute;
    background-color: rgb(139, 85, 35);
    color: white;
    height: 3%;
    width: 7%;
    border-radius: 20px;
    font-size: 60%;
    margin-left: 52%;
    margin-top: -1.5%;
}
#text5_button:hover
{
    background-color: rgb(247, 206, 168);
    color: black;
    box-shadow: 0 0 10px black;
}
.text6
{
    font-size: 105%;
    font-family: Arial;
    color: rgb(94, 94, 95);
    margin-left: 69%;
    margin-top: -3%;
}
.text6_price
{
    font-size: 130%;
    font-family: Arial;
    color: rgb(88, 66, 39);
    margin-left: 69%;
}
#text6_button
{
    position: absolute;
    background-color: rgb(139, 85, 35);
    color: white;
    height: 3%;
    width: 7%;
    border-radius: 20px;
    font-size: 60%;
    margin-left: 76%;
    margin-top: -1.5%;
}
#text6_button:hover
{
    background-color: rgb(247, 206, 168);
    color: black;
    box-shadow: 0 0 10px black;
}

/* Shopping Cart CSS */
.active .cart{
    left: calc(100% - 520px);
}

.cart {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 100%;
    width: 500px; 
    height: 600px;
    transition: 0.5s;
    overflow: auto;
    border-radius: 25px;
    background-color: rgb(255, 185, 106);
}

.cartTab {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 25px;
    overflow-x: auto;
}

.cartLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartTab hr {
    border: 2.5px solid white;
    margin-bottom: 25px;
}

#cartLogo {
    height: 80px;
}

.cartList {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    font-size: 25px;
    color: rgb(50, 50, 50);
    background-color: white;
    height: 100%;
}

td {
    flex: 1;
}

.upperRow {
    background-color: white;
}

.middleRow {
    flex: 1;
}

.lastRow {
    margin-top: auto;
}

#cartItem,
#cartPrice{
    list-style: none;
}

.checkOutTab {
    display: flex;
    width: 100%;
    height: 60px;
    font-size: 25px;
    /* border: 1px solid; */
}

.checkOut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    color: #1C1F25;
    background-color: #E8BC0E;
    /* border: 1px solid; */
}

#closeCart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    color: #FFD700 ;
    background-color: #1C1F25;
    /* border: 1px solid; */
}
